<div class="page-header education-header djwinc-border">
    <h1 class="col-xs-12 col-sm-8">Diamonds 4C's</h1>
    <div class="row col-xs-12 col-sm-4 text-center fourc">
      <div class="col-xs-6 col-sm-6">
        <%= link_to 'Carat', anchor:'carat'%>
      </div>
      <div class="col-xs-6 col-sm-6">
        <%= link_to 'Color', anchor:'color' %>
      </div>
      <div class="col-xs-6 col-sm-6">
        <%= link_to 'Clarity', anchor:'clarity' %>
      </div>
      <div class="col-xs-6 col-sm-6">
        <%= link_to 'Cut', anchor:'cut' %>
      </div>
    </div>
</div>

<div class="fourc-banner-left">
  <h3>Fine diamonds are among the most coveted gems. To determine a diamond’s value, experts use the Four Cs — Cut, Color, Clarity, and Carat Weight. To a great extent, cut, color and clarity depend on the quality of the rough diamond. </h3>
</div>

<div class="fourc-banner-right" id="carat">
  <h3 class="text-right">Carat Weight</h3>
  <h4>Carat refers to a diamond’s weight. One carat, the traditional unit of measurement for diamonds, is approximately 0.2 grams. You may also hear the weight of a diamond referred to in points. One carat is equivalent to 100 points, so a 75-point diamond is equal to 0.75 carats. Because they are rarer, larger diamonds have greater value per carat, so the price of a diamond rises exponentially to its size</h4>
</div>

<div class="fourc-banner-left" id="color">
  <h3>Color</h3>
  <h4>One factor that determines the value of a diamond is its color. With the exception of fancy-colored diamonds, the most valuable diamonds are those with the least color. Although many people think of gem quality diamonds as colorless, completely colorless diamonds are very rare. The diamond color scale ranges from D (colorless) to Z (light yellow or brown). A diamond’s color is determined by a manual process of comparing the diamond to a master set. Each letter grade represents a range of color and is a measurement of how noticeable a color is.</h4>
  <div class="row">

  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>D E F</th>
          <th>G H I J</th>
          <th>K L M</th>
          <th>N O P Q R</th>
          <th>S T U V W X Y</th>
          <th>Z +</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Colorless</th>
          <th>Near Colorless</th>
          <th>Faint Yellow</th>
          <th>Very Ligth Yellow</th>
          <th>Light Yellow</th>
          <th>Fancy</th>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
  </div>

</div>

<div class="fourc-banner-right" id="clarity">
  <h3 class="text-right">Clarity</h3>
  <h4>A diamond’s clarity is measured by the existence or absence of visible flaws. Tiny surface blemishes or internal inclusions, even those seen only under magnification, can alter the brilliance of the diamond and thus affect its value. Clarity levels begin with flawless (FL, IF), followed by very, very slight (VVS1, VVS2), very slight (VS1, VS2), slightly included (SI1, SI2), and included (I1, I2, and I3).</h4>
  <ul>
    <li>FL: No Internal or external flaws</li>
    <li>IF: No internal flaws</li>
    <li>VVS1 – VVS2: Very difficult to see inclusions under 10X magnification</li>
    <li>VS1 – VS2: Inclusions are not typically visible to the unaided eye</li>
    <li>SI1 – SI2: Inclusions are visible under 10X magnification and may be visible with the unaided eye</li>
    <li>I1, I2 &amp; I3: Inclusions are visible with the unaided eye</li>
  </ul>
</div>

<div class="fourc-banner-left" id="cut">
  <h3>Cut</h3>
  <h4>While cut does describe shape, when discussing the four Cs it refers to the overall proportions and finish of the diamond. A diamond’s overall proportions, as well as the size and position of its facets, make up the cut. The consistency and balance of these can greatly affect how the stone captures light and reflects it back to the eye. When a diamond is cut with the proper proportions, light enters the diamond and is returned through the top of the diamond. If a diamond is too shallow, light will escape from the bottom of the stone. If it is cut too deep, light will escape from the pavilion.</h4>
</div>
