<div class="splash-img">
  <%= image_tag "splash.JPG" %>
  <%= link_to store_index_path do %>
    <span>SHOP ONLINE</span>
  <% end %>
</div>

<div class="djwinc-border col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
  <h3 class="text-center">The Art of Design</h3>
  <h4>Custom fine jewelry for those that choose the extraordinary.</h4>
  <p>A modern twist on fine jewelry. Our jewelry speaks to the individual seeking authentic craftsmanship, innovative methods, and an escape from trends and the status quo. Curated by our designer, each handcrafted piece highlights the best of Brazilian and European artisan fine jewelry designers and embodies the finest taste and aesthetic from across the world.</p>
</div>
