<div class="page-header index-header djwinc-border col-xs-12">
    <h1 class="col-xs-12 col-sm-9">Dino's Jewelry Portfolio</h1>
</div>

<div class="row">
  <%- @items.any? do %>
    <%- @items.each do |item| %>
      <div class="col-xs-12 col-sm-6">
        <div class="index-img-portfolio">
          <div class="thumbnail">
            <% if item.thumbnail_photo %>
              <%= image_tag item.thumbnail_photo.image_url(:medium) %>
            <% else %>
              <%= image_tag("stock-diamond.jpg") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="text-center items-paginate">
  <%= paginate @items, theme: "bootstrap2" %>
</div>
<div class="text-center items-paginate">
  <%= page_entries_info @items, entry_name: 'Creation' %>
</div>
