.bruno {
  border: 2px solid red;
}

// FOR GLOBAL HTML
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100%;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 50px;
}

img {
  background-color: #f2f2f2;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.gold-text {
  color: #c8a851;
}

.djwinc-border {
  border: 3px solid #333;
}

.application-body {
  padding-bottom: 30em;
}

// NAVBAR
nav {
  background-color: #7f7f7f;
  a {
    color: #000;
  }
  .navbar-brand {
  color: #c8a851;
  }
  a:hover {
    color: #000;
  }
  .icon-bar {
    color: #c8a851;
    border-color: #c8a851;
    background-color: #c8a851;
  }
}

// FOOTER
.fixed-footer {
  position: absolute;
  bottom: 0;
  background-color: #7f7f7f;
  color: #000;
  a {
    color: inherit;
  }
  span {
    margin-bottom: 0.5em;
    padding: 0;
  }
  h4 {
    border-bottom: solid 2px #c8a851;
  }
}

// SPLASH PAGE
.splash-img {
  position: relative;
  img {
  width: 100%;
  height: auto;
  }
  a {
    color: inherit;
    text-decoration: none;
    position: relative;
  }
  span {
    border: 2px solid #333;
    padding: 1em;
    position: relative;
    left: 4em;
    bottom: 5em;
    font-size: 80%;
  }
}

// INDEX PAGE
.index-header {
  background-color: rgba(181, 181, 181, 0.4);
  h1 {
    margin: 0.4em 0 0 0;
    font-size: 200%;
  }
  h4 {
    margin: 0.8em 0 0 0;
  }
}

.index-img {
  padding: 2em;
  margin-bottom: 2em;
  border: 8px solid #333;
  .thumbnail {
    padding: 0;
    border-radius: 0;
  }
  a {
    margin: 0;
  }
}

.pagination {
  font-size: 125%;
  li {
    a {
      color: #333;
      background-color: transparent;
    }
  }
  .active {
    a {
      background-color: #c8a851;
      border-color: #c8a851;
    }
    a:hover {
      background-color: #c8a851;
      border-color: #c8a851;
    }
  }
}

// EDUCATION PAGE
.education-header {
  display: inline-block;
  background-color: rgba(181, 181, 181, 0.4);
  width: 100%;
  a {
    text-decoration: none;
    color: #c8a851;
  }
  .fourc {
    font-size: 150%;
    padding-top: 0.5em;
  }
}

.fourc-banner-left {
  border-left: 5px solid #c8a851;
  margin-top: 2em;
  h3, h4 {
    padding-left: 1em;
  }
  .table-responsive {
    background: linear-gradient(to right, #fff, #fffb84);
    font-size: 40%;
  }
}

.fourc-banner-right {
  border-right: 5px solid #000;
  margin-top: 2em;
  h3, h4, li {
    padding-right: 1em;
    list-style-type: none;
  }
}

// ITEM SHOW
.djwinc-border-carousel {
  position:sticky;
  border: 8px solid #333;
  padding: 2em;
  .carousel {
    padding: 0;

    .thumbnail {
      padding: 0;
      border-radius: 0;
    }

    img {
      margin: 0;
    }
  }
}

.item-show {
  border-bottom: 5px solid #c8a851;

  h1 {
    margin-bottom: 0;
  }
}

.item-row {
  border-bottom: 2px solid #c8a851;
}

.item-bottom-row {
  padding: 2em 0;

  .add-to-cart {
    padding-top: 3em;
  }
  span {
    border: 2px solid #333;
    padding: 1em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

// CART
.cart-button {
  margin: 1em 1em 0 1em;
}

.cart-img {
  img {
    height: 100px;
  }
}

.cart-footer {
  a {
    text-decoration: none;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
  }
}

// ORDER
.order-header {
  a {
    color: inherit;
    text-decoration: none;
    margin: 0 0.5em;
  }
  span {
    border: 2px solid #333;
    padding: 1em;
  }
}

.order-total-border {
  border-bottom: 5px solid #c8a851;
}

.order-submit {
  border: 2px solid #333;
  padding: 1em;
  border-radius: 0;
  text-decoration: none;
  background-color: inherit;
}

.order-index {
  font-size: 110%;
  li {
    list-style: none;
    padding: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }
}

.order-terms {
  border: 2px solid #333;
  padding: 0.5em;
  border-radius: 0;
  text-decoration: none;
  margin-top: 2em;
  .order-terms-inside {
    background-color: inherit;
  }
}

.order-list {
  font-size: 120%;
  dt {
    font-size-adjust: auto;
  }
}

.order-index-icons {
  div {
    margin-top: 1em;
    span {
      color: #000;
    }
  }
}

// SOCIAL BUTTONS
.social-button-row {
  margin-top: 1.5em;
  padding-top: 1em;
  .social-share-button-twitter {
    width: 25px;
    height: 25px;
    background: image-url("twitter-logo.png") no-repeat;
    background-size: contain;
    padding: 0 1em;
  }

  .social-share-button-facebook {
    width: 25px;
    height: 25px;
    background: image-url("fb-logo.png") no-repeat;
    background-size: contain;
    padding: 0 1em;
  }

  .social-share-button-pinterest {
    width: 25px;
    height: 25px;
    background: image-url("pinterest-logo.png") no-repeat;
    background-size: contain;
    padding: 0 1em;
  }
}

// TERMS & CONDITIONS
.modal-header {
  padding: 0;
  span {
    font-size: 200%;
    color: #000;
  }
  h3 {
    padding: 0.5em;
    background-color: #7f7f7f;
    color: #c8a851;
  }
}

.modal-body-terms {
  overflow-y: auto;
  max-height: 80vh;
}

// SEARCH
.search-box {
  div {
    margin: 0.5em 0;
  }
  #search_keywords {
    width: 50vw;
  }
}

.search-button {
  border: 2px solid #333;
  padding: 1em;
  background-color: inherit;
  margin: 1em 2em 0 0;
  border-radius: 0;
  font-size: 120%;
}

.search-again {
  border: 2px solid #333;
  padding: 1em;
  background-color: inherit;
  border-radius: 0;
  font-size: 120%;
  color: inherit;
  text-decoration: none;
}

.search-header {
  margin-bottom: 2em;
  div {
    margin-top: 0.5em;
  }
}

// LOGIN
.login-box {
  margin-top: 2em;
  border: 5px solid #333;
  padding: 2em;
  div {
    padding: 0.5em 0;
  }
  .submit-login {
    border: 2px solid #333;
    background-color: inherit;
    padding: 0.5em;
    border-radius: 0;
  }
}

// ADMIN INDEX
.admin-button {
  border: 2px solid #333;
  padding: 0.5em;
  background-color: inherit;
  height: 4em;
  border-radius: 0;
  font-size: 120%;
  margin: 0.5em;
  a {
    text-decoration: none;
    color: inherit;
  }
}

// CHARGES
.pay-box {
  font-size: 120%;
  margin-top: 2em;
  padding: 2em;
  border: 5px solid #000;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}

button.stripe-button-el {
  border: 2px solid #333;
  background-color: inherit;
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  .application-body {
    padding-bottom: 15em;
  }

  .footer-bottom {
    border-top: solid 2px #c8a851;
  }

  .splash-img {
    span {
      left: 5em;
      bottom: 10em;
      font-size: 150%;
    }
  }

  .index-header {
    h1 {
      font-size: 300%;
    }
    h4 {
      font-size: 150%;
      margin: 1.2em 0 0 0;
    }
  }

  .fourc-banner {
    h4 {
      font-size: 150%;
    }
  }

  .fourc-banner-left {
    .table-responsive {
      font-size: 100%;
    }
  }

  .cart-button {
    margin: 2em;
  }

  .cart-img {
    img {
      height: 200px;
    }
  }
}

@media only screen and (min-width: 580px) {
  .fourc-banner-left {
    .table-responsive {
      font-size: 100%;
    }
  }

  nav, footer {
    font-size: 120%;
  }

  .cart-img {
    img {
      height: 150px;
    }
  }

  .item-bottom-row {
    .add-to-cart {
      padding-top: 0;
    }
  }

  .social-button-row {
    padding-bottom: 2em;
  }

  .order-terms {
    margin-top: 0;
  }

  .search-box {
    font-size: 120%;
  }

  .login-box {
    font-size: 120%;
  }
}
