html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100%;
  position: relative;
  background-color: #f2f2f2;
}

.application-body {
  padding-bottom: 20em;
}

nav {
  background-color: #7f7f7f;

  a {
    color: #333;
  }
  .navbar-brand {
  color: #c8a851;
  }

  a:hover {
    color: #333;
  }

  .icon-bar {
    color: #c8a851;
    border-color: #c8a851;
    background-color: #c8a851;
  }
}

.fixed-footer {
  position: absolute;
  bottom: 0;
  background-color: #7f7f7f;

  a {
    color: inherit;
  }

  span {
    margin-bottom: 0.5em;
    padding: 0;
  }

  h5 {
    border-bottom: solid 2px #c8a851;
  }

}

@media only screen and (min-width: 768px) {
  .application-body {
    padding-bottom: 10em;
  }

  .footer-bottom {
    border-top: solid 2px #c8a851;
  }
}
