// FOR GLOBAL HTML
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100%;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 50px;
}

.gold-text {
  color: #c8a851;
}

.djwinc-border {
  border: 3px solid #333;
}

.application-body {
  padding-bottom: 30em;
}

// NAVBAR
nav {
  background-color: #7f7f7f;
  a {
    color: #333;
  }
  .navbar-brand {
  color: #c8a851;
  }
  a:hover {
    color: #333;
  }
  .icon-bar {
    color: #c8a851;
    border-color: #c8a851;
    background-color: #c8a851;
  }
}

// FOOTER
.fixed-footer {
  position: absolute;
  bottom: 0;
  background-color: #7f7f7f;
  a {
    color: inherit;
  }
  span {
    margin-bottom: 0.5em;
    padding: 0;
  }
  h5 {
    border-bottom: solid 2px #c8a851;
  }
}

// SPLASH PAGE
.splash-img {
  position: relative;
  img {
  width: 100%;
  height: auto;
  }
  a {
    color: inherit;
    text-decoration: none;
    position: relative;
  }
  span {
    border: 2px solid #333;
    padding: 1em;
    position: relative;
    left: 4em;
    bottom: 5em;
    font-size: 80%;
  }
}

// INDEX c8a851
.index-header {
  background-color: rgba(181, 181, 181, 0.4);
  h1 {
    margin: 0.4em 0 0 0;
    font-size: 200%;
  }
  h4 {
    margin: 0.8em 0 0 0;
  }
}

.index-img {
  padding: 2em;
  margin-bottom: 2em;
  border: 8px solid #333;
  .thumbnail {
    padding: 0;
  }
  a {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .application-body {
    padding-bottom: 15em;
  }

  .footer-bottom {
    border-top: solid 2px #c8a851;
  }

  .splash-img {
    span {
      left: 5em;
      bottom: 10em;
      font-size: 150%;
    }
  }

  .index-header {
    h1 {
      font-size: 300%;
    }
    h4 {
      font-size: 150%;
      margin: 1.2em 0 0 0;
    }
  }

}
