.landing-body {
  background: image-url('hero_1.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.gold-text-landing {
  color: #c8a851;
}

.landing-jumbo {
  font-size: 500%;
  padding-left: 0.5em;
}

#banner-header {
  display: none;
}

.gold-text-shadow {
  text-shadow: 2px 2px 2px #000, 4px 4px 5px #fff;
}

.landing-box {
  border: 2px solid #c8a851;
  color: #fff;
  margin-top: 15em;
  background-color: rgba(0, 0, 0, 0.6);
}

#banner-box {
  display: none;
}

@media only screen and (min-width: 768px) {
  .landing-jumbo {
    font-size: 800%;
    padding-left: 1em;
  }

  .landing-box {
    margin-top: 35em;
  }
}
