<div class="page-header index-header djwinc-border col-xs-12">
    <h1 class="col-xs-12 col-sm-9">Custom Creations</h1>
    <h4 class="gold-text col-xs-12 col-sm-3">Escape the routine.</h4>
    <!-- BASIC REFACTOR LATER -->
</div>

<div class="row">
  <%- @items.each do |item| %>
    <div class="col-xs-12 col-sm-6">
      <div class="index-img">
        <%= link_to item, class:"thumbnail" do %>
          <%- item.photos.each_with_index do |photo, index| %>
            <%- if index == 0 %>
              <%= image_tag photo.image_url(:medium) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
